<!DOCTYPE html>
<html>
<head>
    <title>Demo Project</title>

    <!-- Bootstrap stuff -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <!-- Google Maps Stuff -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkbYFo8lquHs3dhFxiH0RTTgqt-epz1-0"></script>
    <script type="text/javascript" src="../static/js/initMap.js"></script>

    <!-- chart stuff -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript" src="../static/js/chart.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/styling.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="#">Sign In</a></li>
                    <li role="presentation"><a href="#">Sign Up</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Demo Project</h3>
        </div>
        <h4 class="text-muted">Map of Tweets</h4>
        <div id="map"></div>
        <div id="genderContainerMap" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <div id="nationalityContainerMap" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <div id="genderContainerDisagree" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <div id="nationalityContainerDisagree" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
</body>
</html>
